<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title id="title">Lidar View</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="col s12 center">
            <center><h1>Lidar (<%- name %>)</h1>
            <div id="myDiv"></div><br><br>
            <button onclick="window.close();" type="button">Close</button>
          </center>
        </div>
    </div>

    <!--  Scripts-->
    <script src="../../jquery-2.1.1.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
    var name = "<%- name %>";
    </script>
    <script src="../../app_lidar.js"></script>
</body>

</html>
